.st-button{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
    position: absolute;
    left: 47.5%;
    bottom: -70px;
    background-color: aquamarine;
}

.st-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.ds-button{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
    position: absolute;
    left: 47.5%;
    bottom: -10%;
    background-color: #a4a4a4;
}

.ds-button:hover{
    cursor: none;
}