.card-post{
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 500ms all;
}

.card-post:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card-post img{
    max-width: 100%;
}